<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Node.js</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#New">New</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <div>
        <h2>Userlist:</h2>
      </div>
    <div class="table-container">
        <table class="styled-table">
         <thead>
              <tr class="w3-light-grey">
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < dataUser.length; ++i) { %>
                  <tr>
                    <td>
                      <%= dataUser[i].ID %>
                    </td>
                    <td>
                      <%= dataUser[i].Name %>
                    </td>
                    <td>
                      <%= dataUser[i].Age %>
                    </td>
                    <td>
                      <%= dataUser[i].Email %>
                    </td>
                    <td>
                      <%= dataUser[i].Address %>
                    </td>
                    <td>
                      <button type="button">Detail</button>
                      <button type="button">Edit</button>
                      <button type="button">Delete</button>
                    </td>
                  </tr>
                <% } %>
            </tbody>
         </table>
    </div>

</body>
</html>